@import './utils/consts.scss';
@import './utils/container.scss';
@import 'antd/dist/antd.css';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $voilet;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    --antd-wave-shadow-color: $voilet;
    ::selection {
        background: $voilet;
    }
}

body {
    box-sizing: border-box;
    font-size: 16px;
    &:before,
    &:after {
        box-sizing: border-box;
    }
    background-color: $bgIndigoLight;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    list-style-type: none;
}

//menu 
.menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    & > li {
        text-align: center;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
        & > a {
            color: $dark;
        }
    }
}
//menu-sidebar 
.menu-sidebar {
    & > li {
        margin-top: 2rem;
        border-bottom: 1px solid $white;
        & > a {
            color: $white;    
            & > .title {
                margin-left: 1rem;
            }
        }
    }
    & > .sign-out {
        border-bottom-color: $red;
        & > a {
            color: $red;
        }
    }
}
//burger-menu 
.burger-menu {
    display: none;
    & > span > svg {
        font-size: 20px;
        color: $voilet;
    }
}
//slider 
.slider {
    padding: 4rem 8rem;
    border-radius: 10px;
}
//Private Layout
.private-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar nav nav nav"
        "sidebar main main main";
}
//btn
.private-search {
    .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
        background: $purple;
        & > span > svg {
            color: $white;
        }
}
}
.btn {
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $bgIndigoLight;
    padding: 1rem 1rem;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .2s all ease;
    &:hover {
        border: 1px solid $voilet;
    }
    &-blue {
        background-color: $purple;
        color: $white;
    }
    &-voilet {
        background-color: $voilet;
        color: $white;
        width: 200px;
    }
    &-light {
        background-color: $bgIndigo;
        color: $dark;
    }
    &-circle {
        border: 1px solid $voilet;
        background-color: $voilet;
        color: $white;
        width: 200px;
        border-radius: 20px;
        &:hover, &:active, &:focus {
            border: 1px solid $voilet;
            background-color: $white;
            color: $voilet;
        }
    }
    &-signin{
        border: none;
        margin-top: 0;
        height: 32px;
        background-color: $white;
        &:hover {
            border: 1px solid $voilet;
            border-right: none;
        }
    }
    &-signup {
        border-color: $voilet;
        &:hover {
            border: 1px solid $voilet;
            background-color: $voilet;
            color: $white !important;
        }
    }
    &-checkout {
        background-color: $voilet;
        color: $white;
        border-color: $voilet;
        &:hover {
            color: $voilet;
        }
    }
}
.ant-btn {
    &:hover, &:focus, &:active {
        // background-color: $purple;
        color: $purple;
        // border: 1px solid $white;
    }
}
.cancel {
    border-color: $red;
    color: $red;
    &:hover {
        border-color: $white;
        background-color: $red;
        color: $white;
    }
}
.save {
    border-color: $purple;
    color: $purple;
    &:hover {
        border-color: $white;
        background-color: $purple;
        color: $white;
    }
}
.edit {
    border-color: $voilet;
    color: $voilet;
    svg {
        color: $voilet;
    }
    &:hover, &:focus, &:active {
        border-color: $voilet;
        background-color: $voilet;
        svg {
            color: $white;
        }
    }
}
.delete {
    border-color: $red;
    color: $red;
    svg {
        color: $red;
    }
    &:hover, &:focus, &:active {
        background-color: $red;
        border-color: $red;
        color: $white;
        svg {
            color: $white;
        }
    }
}
.view {
    border-color: $purple;
    color: $purple;
    svg {
        color: $purple;
    }
    &:hover, &:focus, &:active {
        background-color: $purple;
        border-color: $purple;
        color: $white;
        svg {
            color: $white;
        }
    }
}
.heart {
    &-outlined {
        & > svg {
            color: $dark;
        }
    }
    &-filled {
        & > svg {
            color: $red;
            fill: $red;
        }
    }
}
//input
.ant-form-horizontal .ant-form-item-control {
    width: 100%;
}
.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
    border-color: $voilet;
}
input::placeholder {
    font-size: 14px;
    color: $dark !important;
    opacity: 0.7;
}
.ant-input .ant-input-lg {
    background-color: $bgIndigo;
    opacity: 1;
}
.ant-form-item-has-error .ant-input {
    background-color: $bgIndigo;
    &:hover, &:focus, &:active {
        background-color: $bgIndigo;
    }
}
.ant-form-item-has-error .ant-input-affix-wrapper {
    background-color: $bgIndigo;
    &:hover, &:focus, &:active {
        background-color: $bgIndigo;
    }
}
.ant-input-affix-wrapper > input.ant-input{
    background-color: inherit;
}
.input {
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    background-color: $bgIndigo;
    padding: 1rem;
    transition: .2s all ease;
    &__modal {
        padding: 0.4rem;
    }
}

//form
.ant-form-item {
    width: 100%;
    margin-bottom: 0px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ant-form-item-has-success.ant-form-item-has-feedback .ant-form-item-children-icon {
    margin-top: -2px;
}
.form {
    &__modal {
        .ant-form-item-has-feedback.ant-form-item-has-success .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-error .ant-form-item-children-icon {
            margin-top: -10px;
        }
    }
    &__item {
        margin-top: 0.5rem;
        &:first-child {
            margin-top: 0;
        }
        &-price {
            margin-top: 0;
        }
        &-rating {
            margin-top: 0;
            display: flex;
            align-items: baseline;
        }
    }
    &__group {
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__btn {
    }
}
//icon
.google-icon, .signin-icon {
    margin-right: 8px;
}
//divider
.divider {
    overflow: hidden;
    text-align:center;
    width: 100%;
    margin: 2rem 0;
    span {
        display: inline-block;
        vertical-align: middle
    }
    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 1px;
        background-color: $bgGray;
        position: relative;
    }
    &:before {
        margin-left: -100%;
        left: -14px;
    }
    &:after {
        margin-right: -100%;
        right: -14px;
    }
}


//card
.cards {
    display: grid;
    gap: 1rem;
}

.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}
//table 
.table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid $voilet;
    & > thead {
        background-color: $voilet;
        color: $white;
        & > tr > th {
            padding: 0.5rem;
            text-align: start;
        }
    }
    & > th, td {
        padding: 1rem;
    }
    & > tbody > tr > td {
        background-color: $white;
        border: 1px solid $voilet;
    }
    &-btn {
        & > svg {
            margin-left: 10px;
            padding: 5px;
            text-align: center;
            &:first-child {
                border: 2px solid $blue;
                color: $blue;
            }
            &:last-child {
                border: 2px solid $red;
                color: $red;
            }
        }
    }
}

//pagination 
.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.filters {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ant-space-align-center {
        margin-bottom: 0 !important;
    }
}

//logout-modal 
.logout-modal {
    &__item {
        &-logout {  
            &:hover {
                background-color: $red;
                & > span {
                    color: $white;
                    & > svg {
                        color: $white;
                    }
                }
            }
        }
        &-logout > span > svg, &-logout > span  {
            color: $red;
        }
    } 
    &__link {
        margin-left: 10px;
        color: $dark;
    }
}

//img 
.img{
    &-square {
        img {
            border-radius: 10px;
        }
    }
}

//sort 
.sort {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background: none;
        &:hover, &:focus, &:active {
            background-color: $white;
        }
    }
}

//radio 
.ant-radio-inner {
    border: 1px solid $voilet !important;
}
.ant-radio-checked .ant-radio-inner {
    background-color: $white;
    border: 1px solid $voilet;
}
.ant-radio-inner::after {
    background-color: $voilet;
    border: 1px solid $voilet;
}
.ant-radio-checked::after {
    border: 1px solid $voilet;
}

//no-data 
.no-data {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//breadcrumb 
.ant-breadcrumb {
    margin: 1rem 0;
}
//bacltop
.ant-back-top {
    z-index: 200;
    left: 2%;
    bottom: 4.5%;
}
.backtop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $voilet;
    color: $white;
    text-align: center;
    font-size: 16px;
    & > span > svg {
        font-size: 16px;
    }
}
.accent-color-fill {
    fill: $voilet !important;
}
.brand {
    &__show {
        display: block;
    }
    &__hide {
        display: none;
    }
    &__block {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-start {
            justify-content: flex-start;
            & > span {
                & > svg {
                    margin-left: 1rem;
                    font-size: 12px;
                }
            }
        }
    }
    &__checkbox {
        margin-top: 0.5rem;
        .ant-checkbox-group {
            display: flex;
            flex-direction: column;
        }
    }
}
.type {
    &-start {
        align-items: flex-start;
    }
    &__show {
        display: block;
    }
    &__hide {
        display: none;
    }
    &__block {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-start {
            justify-content: flex-start;
            & > span {
                & > svg {
                    margin-left: 1rem;
                    font-size: 12px;
                }
            }
        }
    }
    &__checkbox {
        margin-top: 0.5rem;
        .ant-checkbox-group {
            display: flex;
            flex-direction: column;
        }
    }
}
//tag 
.tag {
    margin-top: 2rem;
    display: flex;
    align-self: center;
    & > .selected {
        margin-right: 1rem;
    }
}
//add-device-modal-add-charactes
.add-device-modal-add-charactes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

//notification 
.ant-popover-inner-content {
    padding: 0;
}


//dragger 
.ant-form-item .ant-upload.ant-upload-drag {
    border: 1px dashed $purple;
    &:hover {
        border-color: $voilet;
    }
}

textarea.ant-input {
    min-height: 100px;
}

.preview__img {
    width: 100px;
    height: 100px;
    margin-top: 0.2rem;
    border: 1px dashed $voilet;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div > img {
        width: 100px;
        height: 75px;
    }
}

.dragger {
    // width: 100%;
    // height: 150px;
    // border: 1px dashed $voilet;
    &__img {
        & > span > svg {
            margin-top: 1rem;
            width: 50px;
            height: 50px;
            color: $purple;
        }
    }
    &__text {
        padding-top: 1rem;
        font-size: 16px;
    }
    // input[type="file"] {
    //     display: none;
    // }
    // label {
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     & > span {
    //         & > svg {
    //             font-size: 50px;
    //             fill: $voilet;
    //         }
    //     } 
    //     & > p {
    //         margin-top: 1rem;
    //     }
    // }
}

//basket-badge
.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
    left: 50%;
}
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
    right: 4px;
}
.basket-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    &__count {
        width: 20px;
        height: 20px;
        background-color: $purple;
        border-radius: 50%;
        color: $white;
        margin-left: 1rem;
        text-align: center;
    }
    &__content {
        background-color: $bgIndigo;
        padding: 1rem; 
        & > ul {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            & > li {
                padding: 0.5rem;
                & > .basket-badge__content-header {
                    display: flex;
                    flex-direction: row;
                    & > div > img {
                        width: 100px;
                        height: 75px;
                    }
                    & > span {
                        margin-left: 1rem;
                        & > p {
                            font-size: 16px;
                        }
                    }
                }
                & > .basket-badge__content-footer {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    & > p {
                        margin-bottom: 0;
                        padding-top: 0.3rem;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
//heart-badge
.heart-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    &__count {
        width: 20px;
        height: 20px;
        background-color: $purple;
        border-radius: 50%;
        color: $white;
        margin-left: 1rem;
        text-align: center;
    }
    &__content {
        background-color: $bgIndigo;
        padding: 1rem; 
        & > ul {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            & > li {
                & > .avatar {
                    margin-left: 0;
                    .avatar__full-name {
                        margin-left: 0.5rem;
                        color: $purple;
                        background-color: inherit;
                    }
                }
            }
        }
    }
}


//slider

.slick-prev:before, .slick-next:before {
    color: $voilet;
}

//popular-device 
.popular-device {
    background-color: $white;
    padding: 1rem;
    margin-top: 1rem;
}

//add-to-cart 
.add-to-cart {
    &-filled {
        color: $voilet;
    }
}

//select 
.select {
    outline: none;
    width: 100%;
    border-color: $bgIndigo;
    padding: 1.2rem 1rem;
    color: $dark;
    font-size: 14px;
    opacity: 0.7;
    &:hover, &:focus, &:active {
        background-color: $bgIndigo;
    }
}
.option {
    color: $dark;
    font-size: 14px;
    opacity: 0.7;
    padding: 5rem;
    &:hover {
        background-color: $voilet;
        color: $white;
    }
}

@media only screen and (max-width: 978px) {
    .private-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "nav"
            "main";
    }
}

@media only screen and (max-width: 767px) {
    .no-data {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 564px) {
    .ant-back-top {
        left: 4.5%;
        bottom: 4%;
    }
}

@media only screen and (max-width: 424px) {
    .add-device-modal-dropdown {
        flex-wrap: wrap;
        & > div {
            margin-top: 0.5rem;
        }
    }
} 



