@import './utils/consts.scss';

.success {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    svg {
        color: $green;
        fill: $green;
    }
    &__title {
        margin-top: 1rem;
    }
    &__btn {
    }
}

@media screen and (max-width: 500px) {
    .error {
        &__img {
            width: 100%;
            height: auto;
        }
    }
}